.container-center {
    height: 10vh;
}

.top-space-container {
    height: 35vh;
}

.bottom-space-container {
    height: 35vh;
}

.square {
    height: 75px;
    color: green;
}

.icon-option {
    height: 40px;
}

.icon-option:hover {
    color: grey;
}

#option-description {
    margin-top: 10%;
}