.container-center {
    /* height: 30vh; */

}

.top-space-container {
    height: 35vh;
}

.bottom-space-container {
    height: 35vh;
}

.square {
    height: 75px;
    color: #FFF7FA;
}

.icon-option {
    height: 40px;
}

.icon-option:hover {
    color: #FD71AF;
}

#option-description {
    margin-top: 10%;
}

#full-container {
    height: 100vh;
}
